


<header class="andro_header header-3 can-sticky">
    <div class="andro_header-top">
      <div class="container">
        <div class="andro_header-top-inner">
          <ul class="andro_header-top-sm andro_sm">
            <li>
              <a href="#"> <i class="fab fa-facebook-f"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fab fa-twitter"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fab fa-youtube"></i> </a>
            </li>
          </ul>
          <ul class="andro_header-top-links">
            <li class="menu-item"><a href="/Login"> My Account </a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#">
                <span class="andro_current-currency-text">Currency</span>
                (USD)
              </a>
              <ul class="sub-menu sub-menu-left">
                <li><a href="#">United States Dollar (USD)</a></li>
                <li><a href="#">Kuwait Dinar (KWD)</a></li>
                <li><a href="#">Pound Sterling (GBP)</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="andro_header-middle">
      <div class="container">
        <nav class="navbar">
          <a class="navbar-brand" href="/Home" style="display: flex;">
            <img src="../../assets/img/fishLogo.jpg" alt="logo" width="70px" height="70px"/>
            <h3 class="h3-tag">Ecubams AfricanFish Export   </h3>

          </a>

          <div class="andro_header-controls">
            <ul class="andro_header-controls-inner">
              <li style="border: 2px solid black; margin: 10px;padding: 10px; cursor: pointer;">+234 703 064 6083</li>
              <li style="border: 2px solid black; margin: 10px; padding: 10px; cursor: pointer;">+234 904 398 4598</li>
              <li class="andro_header-favorites">
                <a href="wishlist.html" title="Your Wishlist">
                  <i class="flaticon-like"></i>
                </a>
              </li>
              <li class="andro_header-cart">
                <a href="/Cart" title="Your Cart">
                  <i class="flaticon-shopping-basket"></i>
                  <div class="andro_header-cart-content">
                    <span>9 Items</span>
                    <span>249.99$</span>
                  </div>
                </a>
              </li>
            </ul>

            <div class="aside-toggler aside-trigger-left">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <aside class="andro_aside andro_aside-right">
      <div class="sidebar">
        <div class="sidebar-widget widget-categories-icons">
          <h5 class="widget-title">Popular Categories</h5>
          <div class="row">
            <div class="col-lg-6">
              <div class="andro_icon-block text-center has-link">
                <a href="#">
                  <i class="flaticon-diet"></i>
                  <h5>Fishing</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="andro_icon-block text-center has-link">
                <a href="#">
                  <i class="flaticon-groceries"></i>
                  <h5>Competitions</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="andro_icon-block text-center has-link">
                <a href="#">
                  <i class="flaticon-supplements"></i>
                  <h5>Swimbaits</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="andro_icon-block text-center has-link">
                <a href="#">
                  <i class="flaticon-cleaning-spray"></i>
                  <h5>Fishing Reels</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="andro_icon-block text-center has-link">
                <a href="#">
                  <i class="flaticon-baby"></i>
                  <h5>Fishing Rods</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="andro_icon-block text-center has-link">
                <a href="#">
                  <i class="flaticon-olive-oil"></i>
                  <h5>Gears</h5>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar-widget">
          <h5 class="widget-title">Popular Tags</h5>
          <div class="tagcloud">
            <a href="#">Fishing</a>
            <a href="#">Fishing</a>
            <a href="#">Competitions</a>
            <a href="#">Latest Design</a>
            <a href="#">Fishing Tool</a>
            <a href="#">Gears</a>
            <a href="#">Outfits</a>
            <a href="#">Swimbaits</a>
            <a href="#">Rod & Reel Combos</a>
            <a href="#">Uncategorized</a>
            <a href="#">Baitrunner Fishing Reel</a>
          </div>
        </div>
      </div>
    </aside>

    <div class="andro_header-bottom">
      <div class="container">
        <div class="andro_header-bottom-inner">

          <ul class="navbar-nav">
            <li class="menu-item menu-item-has-children">
              <a href="/Home">Home</a>
              <!-- <ul class="sub-menu"> -->
                <!-- <li class="menu-item"><a href="index.html">Home v1</a></li> -->
                <!-- <li class="menu-item"><a href="home-v2.html">Home v2</a></li> -->
                <!-- <li class="menu-item"><a href="home-v3.html">Home v3</a></li> -->
                <!-- <li class="menu-item"><a href="home-v4.html">Home v4</a></li> -->
                <!-- <li class="menu-item"><a href="home-v5.html">Home v5</a></li> -->
              <!-- </ul> -->
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Species List</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item">
                  <a href="/Congo">Congo List</a>
                  <!-- <ul class="sub-menu">
                    <li class="menu-item">
                      <a href="blog-grid.html">Grid View</a>
                    </li>
                    <li class="menu-item">
                      <a href="blog-list.html">List View</a>
                    </li>
                    <li class="menu-item">
                      <a href="blog-masonry.html">Masonry View</a>
                    </li>
                  </ul> -->
                </li>
                <li class="menu-item">
                  <a href="/Lagos">Lagos List</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="/About">About Us</a>
              <!-- <ul class="sub-menu">
                <li class="menu-item">
                  <a href="about-us.html">About Us</a>
                </li>
                <li class="menu-item"><a href="login.html">Login</a></li>
                <li class="menu-item"><a href="register.html">Sign Up</a></li>
                <li class="menu-item">
                  <a href="checkout.html">Checkout</a>
                </li>
                <li class="menu-item"><a href="cart.html">Cart</a></li>
                <li class="menu-item">
                  <a href="wishlist.html">Wish List</a>
                </li>
                <li class="menu-item"><a href="legal.html">Legal</a></li>
                <li class="menu-item"><a href="error.html">Error 404</a></li>
              </ul> -->
            </li>
            <li class="menu-item menu-item-has-children mega-menu-wrapper">
              <a href="/Gallery">Gallery</a>
            </li>
            <li class="menu-item">
              <a href="/Contact">Contact Us</a>
            </li>
          </ul>

          <div class="aside-toggler aside-trigger-right desktop-toggler">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </header>


  