<div class="andro_subheader pattern-bg primary-bg">
  <div class="container">
    <div class="andro_subheader-inner" data-aos="slide-up" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
      <h1>About Us</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
        <img src="../../assets/img/about2.png" alt="about us" />
      </div>
      <div class="col-lg-6">
        <div class="section-title-wrap mr-lg-30">
          <h2 class="title">
            Serving
            <span class="custom-primary">Latest Fishifishry </span> Equipments
            Since 1922
          </h2>
          <p class="subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
          </p>
          <p class="subtitle">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s
          </p>
          <a href="shop-v1.html" class="andro_btn-custom">Browse Our Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="andro_cta-notice secondary-bg pattern-bg">
      <div class="andro_cta-notice-inner" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <h3 class="text-white">Buy Two And Get 1 Free Today</h3>
        <p class="text-white" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
          Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras
          ultricies ligula sed magna dictum porta. Praesent sapien massa,
          convallis a pellentesque nec, egestas non nisi.
        </p>
        <a href="#" class="andro_btn-custom light">Shop Now</a>
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
        <img src="../../assets/img/about.jpg" alt="img" />
        <div class="andro_dots"></div>
      </div>
      <div class="col-lg-6">
        <div class="section-title-wrap mr-lg-30" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
          <h2 class="title">
            Serving
            <span class="custom-primary">Latest Fishifishry </span>Equipments
            Since 1922
          </h2>
          <p class="subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
          </p>
          <p class="subtitle">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s
          </p>
          <ul class="andro_list">
            <li>
              Lorem Ipsum has been the industry's standard dummy text ever
            </li>
            <li>Lorem Ipsum has been the industry's</li>
            <li>
              Lorem Ipsum has been the industry's standard dummy text ever
            </li>
            <li>Lorem Ipsum has been the industry's standard dummy</li>
          </ul>
          <a href="shop-v1.html" class="andro_btn-custom">Browse Our Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-padding pt-0">
  <div class="container">
    <div class="section-title">
      <h4 class="title">What Our Customers Say</h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="andro_testimonial">
          <div class="andro_testimonial-body">
            <h5>Perfect service</h5>
            <div class="andro_rating-wrapper">
              <div class="andro_rating">
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
              </div>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry
            </p>
          </div>
          <div class="andro_testimonial-author">
            <img src="../../assets/img/people/1.jpg" alt="testimonial" />
            <div class="andro_testimonial-author-inner" data-aos="slide-up" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
              <h6>John Mishlen</h6>
              <span>Executive CEO at company</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="andro_testimonial">
          <div class="andro_testimonial-body">
            <h5>Competitive prices</h5>
            <div class="andro_rating-wrapper">
              <div class="andro_rating">
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
              </div>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry
            </p>
          </div>
          <div class="andro_testimonial-author">
            <img src="../../assets/img/people/2.jpg" alt="testimonial" />
            <div class="andro_testimonial-author-inner" data-aos="slide-down" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
              <h6>Moe Sondi</h6>
              <span>Executive CEO at company</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="andro_testimonial">
          <div class="andro_testimonial-body">
            <h5>Great agents</h5>
            <div class="andro_rating-wrapper">
              <div class="andro_rating">
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
              </div>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry
            </p>
          </div>
          <div class="andro_testimonial-author">
            <img src="../../assets/img/people/3.jpg" alt="testimonial" />
            <div class="andro_testimonial-author-inner" data-aos="slide-up" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
              <h6>Mandy Floss</h6>
              <span>Executive CEO at company</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-lg-4 secondary-bg pattern-bg">
    <div class="andro_instagram">
      <h3 class="text-white">Follow Us On Instagram</h3>
      <a href="#" class="andro_btn-custom light">Follow Us</a>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/1.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/2.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/3.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/4.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/5.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/6.jpg" alt="ig" />
        </a>
      </div>
    </div>
  </div>
</div>
