<main>
  <h5 class="custom-heading">
    Premium Selection of African Fish Exports <strong>Directly from Ecubams in Lagos, Nigeria</strong>
  </h5>

  <div class="additional-message">
    <p style="font-size: 20px; color: black;">If you are interested in ordering a species not listed here, please let us know via our <a href="/Contact">Contact Form</a>.</p>
  </div>

  <!-- Inquiry Section -->
  <section class="usa-agent">
    <h5>For more inquiries:</h5>
    <p>
      Phone: +234 703 064 6083, +234 904 398 4598<br>
      Email: info@ecubamsafricanfishexportation.com
    </p>
  </section>

  <app-search></app-search>

  <!-- Fish List Table -->
  <section class="fish-list">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th rowspan="3">Code</th>
            <th rowspan="3">Name (English)</th>
            <th rowspan="3">Names (Scientific)</th>
            <th colspan="4">Two Bags per Box Qty per Bag</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="fishData$ | async as fishData; else noResults">
            <tr *ngFor="let fish of fishData | paginate: { itemsPerPage: 25, currentPage: p }">
              <td>{{ fish.SN}}</td>
              <td>{{ fish.Name_English }}</td>
              <td>{{ fish.Name_Scientific }}</td>
              <td>{{ fish.Qty_per_Box }}</td>
              <td>{{ fish.Stock_in_Box_Lots }}</td>
            </tr>
          </ng-container>
          <ng-template #noResults>
            <tr>
              <td colspan="5">No results found</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div>
      <pagination-controls (pageChange)="p = $event" class="pagination-controls"></pagination-controls>
    </div>
  </section>
</main>
