/* General styling */
body {
    font-family: 'Montserrat', sans-serif;
  }
  
  main {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }


  
  .additional-message {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .additional-message a {
    color: #007bff;
    text-decoration: none;
  }
  
  .additional-message a:hover {
    text-decoration: underline;
  }
  
  .usa-agent {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .usa-agent h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .usa-agent p {
    margin: 0;
    font-size: 16px;
  }
  
  .fish-list {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
  
  .table th {
    background-color: darkred;
    font-weight: bold;
    color: whitesmoke;
    border-bottom: 2px solid #cccccc;
  }
  
  .table td {
    border-bottom: 1px solid #cccccc;
  }
  
  .pagination-controls {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .pagination-controls button:hover {
    background-color: #0056b3;
  }
  
  .pagination-controls span {
    font-size: 14px;
    margin: 0 10px;
  }
  