<div class="andro_subheader pattern-bg primary-bg">
  <div class="container">
    <div class="andro_subheader-inner" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
      <h1>Contact Us</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="andro_cta">
          <a href="#">
            <img src="../../assets/img/telephone.jpg" alt="location" style="height: 500px;"/>
            <div class="andro_cta-content" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
              <h4 class="text-white">
                Find Us by <span class="fw-400">Telephone</span>
              </h4>
              <p class="text-white mb-0">
                Cras ultricies ligula sed magna dictum porta. Proin eget tortor
                risus.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="andro_cta">
          <a href="#">
            <img src="../../assets/img/lagos.jpg" alt="location" style="height:500px;"/>
            <div class="andro_cta-content" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
              <h4 class="text-white">
                Find Us In <span class="fw-400">Nigeria</span>
              </h4>
              <p class="text-white mb-0">
                Cras ultricies ligula sed magna dictum porta. Proin eget tortor
                risus.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="andro_icon-block" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
          <a href="tel:+123456789">
            <i class="flaticon-email"></i>
            <h5>Call Center</h5>
            <p>
              Our customer service representatives are highly trained professionals who are ready to help you with any question or concern. They are knowledgeable, courteous, and always willing to go the extra mile to ensure your satisfaction.
            </p>
          </a>
          <svg xmlns="http://www.w3.org/2000/svg">
            <rect
              height="500"
              width="500"
              class="andro_svg-stroke-shape-anim"
            ></rect>
          </svg>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="andro_icon-block">
          <a
            href="https://templates.webfulcreations.com/cdn-cgi/l/email-protection#dbbea3bab6abb7be9bb4aeafb7b4b4b0f5b8b4b6"
          >
            <i class="flaticon-email"></i>
            <h5>Mail Us</h5>
            <p>
              Your feedback is invaluable to us! Whether you have suggestions for improving our website, products, or services, or simply want to share your experience, we'd love to hear from you. Please send your feedback to [feedback@email.com].
            </p>
          </a>
          <svg xmlns="http://www.w3.org/2000/svg">
            <rect
              height="500"
              width="500"
              class="andro_svg-stroke-shape-anim"
            ></rect>
          </svg>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="andro_icon-block" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
          <a href="#">
            <i class="flaticon-location"></i>
            <h5>Nearest Branch</h5>
            <p>
              At our branch, we pride ourselves on offering a diverse range of products to cater to your requirements. Whether you're searching for electronics, home goods, clothing, or more, we have you covered.We understand the importance of convenience.
            </p>
          </a>
          <svg xmlns="http://www.w3.org/2000/svg">
            <rect
              height="500"
              width="500"
              class="andro_svg-stroke-shape-anim"
            ></rect>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-lg-30">
        <div class="section-title">
          <h4 class="title">FAQ</h4>
        </div>
        <div class="accordion with-gap" id="generalFAQExample">
          <div class="card">
            <div
              class="card-header"
              data-toggle="collapse"
              role="button"
              data-target="#generalOne"
              aria-expanded="true"
              aria-controls="generalOne"
            >
              What is Fishifish?
            </div>
            <div
              id="generalOne"
              class="collapse show"
              data-parent="#generalFAQExample"
            >
              <div class="card-body">
                Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vivamus
                magna justo, lacinia eget consectetur sed, convallis at tellus.
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header"
              data-toggle="collapse"
              role="button"
              data-target="#generalTwo"
              aria-expanded="false"
              aria-controls="generalTwo"
            >
              Getting Started with Fishifish
            </div>
            <div
              id="generalTwo"
              class="collapse"
              data-parent="#generalFAQExample"
            >
              <div class="card-body">
                Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vivamus
                magna justo, lacinia eget consectetur sed, convallis at tellus.
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header"
              data-toggle="collapse"
              role="button"
              data-target="#generalThree"
              aria-expanded="false"
              aria-controls="generalThree"
            >
              Do i have the latest version?
            </div>
            <div
              id="generalThree"
              class="collapse"
              data-parent="#generalFAQExample"
            >
              <div class="card-body">
                Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vivamus
                magna justo, lacinia eget consectetur sed, convallis at tellus.
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header"
              data-toggle="collapse"
              role="button"
              data-target="#generalFour"
              aria-expanded="false"
              aria-controls="generalFour"
            >
              How many times can I use Fishifish?
            </div>
            <div
              id="generalFour"
              class="collapse"
              data-parent="#generalFAQExample"
            >
              <div class="card-body">
                Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vivamus
                magna justo, lacinia eget consectetur sed, convallis at tellus.
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header"
              data-toggle="collapse"
              role="button"
              data-target="#generalFive"
              aria-expanded="false"
              aria-controls="generalFive"
            >
              How to migrate my website?
            </div>
            <div
              id="generalFive"
              class="collapse"
              data-parent="#generalFAQExample"
            >
              <div class="card-body">
                Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vivamus
                magna justo, lacinia eget consectetur sed, convallis at tellus.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title">
          <h4 class="title">Contact Us</h4>
        </div>
        <form method="post">
          <div class="row">
            <div class="form-group col-lg-6">
              <input
                type="text"
                placeholder="First Name"
                class="form-control"
                name="fname"
                value
              />
            </div>
            <div class="form-group col-lg-6">
              <input
                type="text"
                placeholder="Last Name"
                class="form-control"
                name="lname"
                value
              />
            </div>
            <div class="form-group col-lg-12">
              <input
                type="email"
                placeholder="Email Address"
                class="form-control"
                name="email"
                value
              />
            </div>
            <div class="form-group col-lg-12">
              <input
                type="text"
                placeholder="Subject"
                class="form-control"
                name="subject"
                value
              />
            </div>
            <div class="form-group col-lg-12">
              <textarea
                name="message"
                class="form-control"
                placeholder="Type your message"
                rows="8"
              ></textarea>
            </div>
          </div>
          <button type="submit" class="andro_btn-custom primary" name="button">
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-lg-4 secondary-bg pattern-bg">
    <div class="andro_instagram">
      <h3 class="text-white">Follow Us On Instagram</h3>
      <a href="#" class="andro_btn-custom light">Follow Us</a>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/1.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/2.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/3.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/4.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/5.jpg" alt="ig" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" data-aos="slide-left" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-offset="200">
        <a href="#" class="andro_ig-item">
          <img src="../../assets/img/ig/6.jpg" alt="ig" />
        </a>
      </div>
    </div>
  </div>
</div>
