<app-search></app-search>
<!-- 
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="andro_icon-block text-center has-link">
                    <a href="#">
                        <i class="flaticon-diet"></i>
                        <h5>Fishing</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="andro_icon-block text-center has-link">
                    <a href="#">
                        <i class="flaticon-supplements"></i>
                        <h5>Swimbaits</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="andro_icon-block text-center has-link">
                    <a href="#">
                        <i class="flaticon-groceries"></i>
                        <h5>Competitions</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="andro_icon-block text-center has-link">
                    <a href="#">
                        <i class="flaticon-cleaning-spray"></i>
                        <h5>Fishing Reels</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-4">
                <div class="andro_icon-block text-center has-link">
                    <a href="#">
                        <i class="flaticon-baby"></i>
                        <h5>Fishing Rods</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-4">
                <div class="andro_icon-block text-center has-link">
                    <a href="#">
                        <i class="flaticon-olive-oil"></i>
                        <h5>Gears</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->








<div class="section section-padding pt-0">
    <div class="container">
        <div class="row">
            <ng-container *ngIf="galleryData$ | async as galleryData; else noResults">
            <div class="col-lg-6" *ngFor="let gallery of galleryData | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" data-aos="slide-right" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-out" data-aos-offset="200">
                <div class="andro_product andro_product-list">
                    <!-- <div class="andro_product-badge andro_badge-featured">
                        <i class="fa fa-star"></i>
                        <span>Featured</span>
                    </div> -->
                    <div class="andro_product-thumb">
                        <a href="product-single.html"><img [src]="gallery.imageURL" alt="product" /></a>
                    </div>
                    <div class="andro_product-body">
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span>{{gallery.stars}} Stars</span>
                        </div>
                        <h5 class="andro_product-title">
                            <a href="/Quote">{{ gallery.name}}</a>
                        </h5>
                        <p>
                            {{gallery.description}}
                        </p>
                        <div class="andro_product-footer">
                            <!-- <div class="andro_product-price">
                                <span>${{ gallery.price }}</span>
                                <span>${{ gallery.discountPrice }}</span>
                            </div> -->
                            <!-- <div class="btn-group">
                                <a href="/Cart" class="andro_btn-custom btn-sm" style="margin: 5px;">Order Now</a>
                                <a href="/ProductDetails" class="andro_btn-custom btn-sm" style="margin: 5px;">View More</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            </ng-container>
        </div>

        <ng-template #noResults>
            <div>
              <h2 colspan="5">No results found</h2>
            </div>
          </ng-template>

    </div>
</div>



<pagination-controls (pageChange)="p = $event"   class="pagination-controls"></pagination-controls>